<app-user-profile-nav (refreshEvent)="refreshNav()" ></app-user-profile-nav>
<div class="userMainClass" class="userMainClass">
    <h2>Email Address:</h2><div class="card"id="labelDiv"><span>{{ emailAddress }}</span></div>
    <h2 *ngIf="firstName">First Name:</h2><div id="labelDiv"class="card"*ngIf="firstName"><span *ngIf="firstName">{{ firstName }}</span></div>
    <h2 *ngIf="lastName">Last Name:</h2><div id="labelDiv"class="card" *ngIf="lastName"><span *ngIf="lastName">{{ lastName }}</span></div>
    <h2 *ngIf="contactNumber">Contact Number:</h2><div id="labelDiv" class="card"*ngIf="contactNumber"><span *ngIf="contactNumber">{{ contactNumber }}</span></div>

</div>
